@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

* {
  margin 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

/*Nawigacja*/

nav {
  max-width: 1440px;
  margin: 30px auto;
  text-align: right;

}

nav a {
  display: inline-block;
  font-size: 1.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  padding: 10px;
  margin: 0 20px;
}

nav a.contact {
  border: 2px solid #555;
  padding: 10px 30px;
  margin-right: 50px;
  margin-left: 80px;
  font-size: 2rem;
  letter-spacing: 1px;
}

nav a:hover {
  border-bottom: 2px solid #555;
  color: black;
}

nav a.contact:hover {
  background-color: royalblue;
  color: #eee;
  border-color: royalblue;
  transition-duration: 0.5s;
}


/*Header*/

header {
  height: 40vh;
  background-image: url(pizza-3010062_1280.jpg);
  background-size: cover;
}

header h1 {
  font-size: 6rem;
  color: black;
  text-align: left;
  line-height: 40vh;
  background-color: rgba (0, 0, 0, 50%);
}

/*Main*/

main {
  max-width: 1440px;
  margin: 5vh auto;
}

main p.description {
  font-size: 2.2rem;
  text-align: center;
  margin: 0 30px 50px 30px;
  line-height: 170%
}

main div.feature {
  display: inline-block;
  width: 33%;
  font-size: 0;
}

main div.image1 {
  height: 200px;
  margin: 10px;
  background-image: url(pizza-3007395_640.jpg);
  background-size: cover;
}

main div.image2 {
  height: 200px;
  margin: 10px;
  background-image: url(pasta-1854245_640.jpg);
  background-size: cover;
}

main div.image3 {
  height: 200px;
  margin: 10px;
  background-image: url(hamburger-494706_640.jpg);
  background-size: cover;
  background-position: center;
}

main h2 {
  font-size: 2rem;
  text-align: center;
  color: #222;
}

/*Stopka*/

footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-style: 2rem;
}
